.Bubble {
  padding: 20px;
  text-align: left;
  background-color: inherit;
  width: 100%;
  overflow-x: scroll;
  color: #fffdff;
  white-space: break-spaces;
}

.BubbleAI {
  color: white;
  background-color: #fc00d645;
}
