.SQLInput {
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
  text-align: left;
}

.ExecuteButton {
  position: absolute;
  z-index: 999;
  right: 0;
  border-radius: 0.5em;
  bottom: 0;
}

.CloseButton {
  position: absolute;
  z-index: 999;
  right: 0;
  border-radius: 0.5em;
  top: 0;
}
