.TopNavbar {
  min-height: 60px;
  width: 100%;
}

.TopNavbar a {
  text-decoration: none;
}

.NavLink {
  color: grey;
}

.active {
  color: black;
}

.select {
  width: fit-content;
  margin: auto;
}

.pending {
  color: blue;
}
